*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    height: 60px;
    width: 100%;
    background-image: linear-gradient(to right,#035472 , #64d0f4);
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 60px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 15px 13px;
}

a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul lu a{
        font-size: 16px;
    }
}

@media (max-width: 858px){

  body{
    overflow: hidden;
  }

    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #2c3e50;
        top: 60px;
        left: -120%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    a:hover,a:active{
        background: none;
        color: #0082e6
    }

    #check:checked ~ ul{
        left: 0;
    }
}

img{
    height: 60px;
    width: 200px;
}

.box{
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 330px;
    left: 50%;
    width: 600px;
    height: auto;
	  padding: 20px 20px 0 20px;
	  background-color: #030E19;
	  box-sizing: border-box;
	  box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 15px;
    z-index: -1;
}

.upper-container{
    height: 120px;
    background-image: url('../img/polygon.jpg');
    background-size: cover;
    border-radius: 8px 8px 0 0;
}

.lower-container{
    height: 120px;
    background: #ffffff;
    padding: 20px;
    padding-top: 65px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.image-container{
    background: white;
    width: 128px;
    height: 128px;
    border-radius: 50%;
    padding: 4px;
    transform: translate(220px,50px);
}

.image-container img{
    background: white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.lower-container h3{
    box-sizing: border-box;
    line-height: .6;
    font-weight:bold;
}

.lower-container h4{
    box-sizing: border-box;
    line-height: 1;
    font-weight: lighter;
    margin-top: 8px;
}

.collapsible {
    background-color: rgb(29, 138, 211);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 8px 8px 8px 8px;
  }
  
  .active, .collapsible:hover {
    background-color: rgb(6, 78, 145);
    transition: all 1s;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
    border-radius: 8px 8px 8px 8px;
  }
  
  .active:after {
    content: "";
  }
  
  .content {
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    border-radius: 8px 8px 8px 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  
  #myUL {
    list-style-type: none;
    padding: 0;
    margin: auto;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #myUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #myUL li a:hover:not(.header) {
    background-color: rgb(47, 127, 247);
    color: white;
  }

  .addstu{
    margin-bottom: 15px;
    margin-left: 110px;
    background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 330px;
	transition-duration: .5s;
  	cursor: pointer;
  }

  .addstu:hover{
    background-color: rgb(47, 127, 247);
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(53, 53, 53, 0.438); 
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid rgb(51, 51, 51);
    width: 70%;
    height: 200px;
  }
  
  .close {
    color: #535353;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 2px solid rgb(0, 115, 209);
  }

  .substu{
    margin-bottom: 15px;
    
    background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #03a9f4;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	width: 380px;
	transition-duration: .5s;
  	cursor: pointer;
  }

  .substu:hover{
    background-color: rgb(47, 127, 247);
  }